<%- include("templates/header") %>
    <div class="col-md-10 mx-auto col-lg-5">
        <h1 class="h3 mb-3 fw-normal text-center">Create User</h1>
        <form class="p-4 p-md-5 border rounded-3 bg-light" data-bitwarden-watching="1"
            action="/signupSubmit" method="post">
            <% if (missing==1) { %>
                <h1 class="h5 mb-4 fw-normal text-center">name is required</h1>
            <% } else if (missing==2) { %>
                <h1 class="h5 mb-4 fw-normal text-center">email is required</h1>
            <% } else if (missing==3) { %>
                <h1 class="h5 mb-4 fw-normal text-center">password is required</h1>
            <% } %>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingName" name="name"
                    placeholder="John Doe">
                <label for="floatingName">Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" name="email"
                    placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" name="password"
                    placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
            <hr class="my-4">
            <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
        </form>
    </div>
<%- include("templates/footer") %>